<div class="edit-dialog">
  <div md-dialog-title>{{sb?.name || 'New Character'}}</div>
  <div md-dialog-content>
    <form [formGroup]="form" (ngSubmit)="update(form)" fxLayout="column">
      <md-input-container color="accent">
        <input mdInput placeholder="Name" formControlName="name" required>
      </md-input-container>
      <md-input-container color="accent">
        <textarea mdInput placeholder="Description" formControlName="description"></textarea>
      </md-input-container>
      <md-select placeholder="Primary Class" color="accent" formControlName="class" required>
        <md-option *ngFor="let class of classes" [value]="class" style="text-transform: capitalize">{{ class }}</md-option>
      </md-select>
      <!--<md-input-container color="accent">
        <input mdInput placeholder="Image URL" formControlName="imageUrl">
      </md-input-container>-->
      <button md-raised-button type="button" color="primary" (click)="characterSheet()" *ngIf="this.mode === 'EDIT'">View Character Sheet</button>
      <button md-raised-button color="accent">Submit</button>
    </form>
  </div>