<div *ngIf="spells">
    <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Name'
    [(ngModel)]="nameFilter"
    (keyup)='updateFilter($event)'
    />
    <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Class'
    [(ngModel)]="classFilter"
    (keyup)='updateFilter($event)'
    />
    <input
    type='text'
    style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Level'
    [(ngModel)]="levelFilter"
    (keyup)='updateFilter($event)'
    />
    <ngx-datatable
    class="fullscreen dark"
    columnMode="flex"
    trackbyProp="id"
    [sorts]="[{prop: 'name', dir: 'asc'}]"
    [rows]="spells"
    [rowHeight]="'auto'"
    (activate)='onSelect($event)'>
    <ngx-datatable-column name="Name" [flexGrow]="3" canAutoResize="true">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Class" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Level" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
        </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
</div>
<div *ngIf="!spells" class="loading"></div>