<div *ngIf="spells" style="margin:15px">
    <!--<div fxLayout="row">
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by name' [(ngModel)]="nameFilter" (keyup)='updateFilter($event)'
        />
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by class' [(ngModel)]="classFilter" (keyup)='updateFilter($event)'
        />
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by level' [(ngModel)]="levelFilter" (keyup)='updateFilter($event)'
        />
    </div>
    <ngx-datatable class="fullscreen" columnMode="flex" trackbyProp="id" [sorts]="[{prop: 'name', dir: 'asc'}]" [rows]="spells"
        [rowHeight]="'auto'" (activate)='onSelect($event)'>
        <ngx-datatable-column name="Name" [flexGrow]="3" canAutoResize="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Class" [flexGrow]="3">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Level" [flexGrow]="3">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>-->
    <table class="table">
        <thead>
            <th (click)="changeSort('name')">
                Name
                <span *ngIf="sortOrder==='name' && sortAsc"><md-icon>arrow_upward</md-icon></span>
                <span *ngIf="sortOrder==='name' && !sortAsc"><md-icon>arrow_downward</md-icon></span>
            </th>
            <th (click)="changeSort('level')">
                Level
                <span *ngIf="sortOrder==='level' && sortAsc"><md-icon>arrow_upward</md-icon></span>
                <span *ngIf="sortOrder==='level' && !sortAsc"><md-icon>arrow_downward</md-icon></span>
            </th>
            <th (click)="changeSort('class')">
                Class
                <span *ngIf="sortOrder==='class' && sortAsc"><md-icon>arrow_upward</md-icon></span>
                <span *ngIf="sortOrder==='class' && !sortAsc"><md-icon>arrow_downward</md-icon></span>
            </th>
            <th style="width:10%" *ngIf="selectedSpellbook?.spellbookId">
                <md-slide-toggle class="example-margin" #toggle (click)="filter('sbOnly', !toggle.checked)">
                    Spellbook Only? 
                </md-slide-toggle>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <md-input-container class="filter-cell">
                        <input mdInput placeholder="Filter by name" #name (keyup)="filter('name', name.value)">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="filter-cell">
                        <input mdInput placeholder="Filter by level" #level (keyup)="filter('level', level.value)">
                    </md-input-container>
                </td>
                <td>
                    <md-input-container class="filter-cell">
                        <input mdInput placeholder="Filter by class" #class (keyup)="filter('class', class.value)">
                    </md-input-container>
                </td>
                <td *ngIf="selectedSpellbook?.spellbookId"></td>
            </tr>
            <tr *ngFor="let s of spells">
                <td class="data-cell" (click)="onSelect(s)">{{s.name}}</td>
                <td class="data-cell" (click)="onSelect(s)">{{s.level}}</td>
                <td class="data-cell" (click)="onSelect(s)">{{s.class}}</td>
                <td class="data-cell" style="text-align: center !important" *ngIf="selectedSpellbook?.spellbookId">
                    <div>
                        <a md-mini-fab color="primary" *ngIf="!isSelected(s.id)" (click)="add(s.id)">
                            <md-icon>add</md-icon>
                        </a>
                        <a md-mini-fab color="warn" *ngIf="isSelected(s.id)" (click)="remove(s.id)">
                            <md-icon>remove</md-icon>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!spells" class="loading"></div>