<div *ngIf="spells">
    <div fxLayout="row">
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by name' [(ngModel)]="nameFilter" (keyup)='updateFilter($event)'
        />
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by class' [(ngModel)]="classFilter" (keyup)='updateFilter($event)'
        />
        <input fxFlex type='text' style='padding:8px;width:30%;' placeholder='Search by level' [(ngModel)]="levelFilter" (keyup)='updateFilter($event)'
        />
    </div>
    <ngx-datatable class="fullscreen" columnMode="flex" trackbyProp="id" [sorts]="[{prop: 'name', dir: 'asc'}]" [rows]="spells"
        [rowHeight]="'auto'" (activate)='onSelect($event)'>
        <ngx-datatable-column name="Name" [flexGrow]="3" canAutoResize="true">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Class" [flexGrow]="3">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Level" [flexGrow]="3">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div *ngIf="!spells" class="loading"></div>