.spellbook-card {
  width: 300px;
  display: flex !important;
  flex-direction: column !important;
  margin:20px !important;
}


.spellbook-bard-image {
  background-image: url('assets/icons/bard.jpg');
  background-size: cover;
}
.spellbook-barbarian-image {
  background-image: url('assets/icons/barbarian.jpg');
  background-size: cover;
}
.spellbook-cleric-image {
  background-image: url('assets/icons/cleric.jpg');
  background-size: cover;
}
.spellbook-druid-image {
  background-image: url('assets/icons/druid.jpg');
  background-size: cover;
}
.spellbook-fighter-image {
  background-image: url('assets/icons/fighter.jpg');
  background-size: cover;
}
.spellbook-monk-image {
  background-image: url('assets/icons/monk.jpg');
  background-size: cover;
}
.spellbook-paladin-image {
  background-image: url('assets/icons/paladin.jpg');
  background-size: cover;
}
.spellbook-ranger-image {
  background-image: url('assets/icons/ranger.jpg');
  background-size: cover;
}
.spellbook-rogue-image {
  background-image: url('assets/icons/rogue.jpg');
  background-size: cover;
}
.spellbook-sorcerer-image {
  background-image: url('assets/icons/sorcerer.jpg');
  background-size: cover;
}
.spellbook-warlock-image {
  background-image: url('assets/icons/warlock.jpg');
  background-size: cover;
}
.spellbook-wizard-image {
  background-image: url('assets/icons/wizard.jpg');
  background-size: cover;
}