<h2 style="margin:20px">Your Spellbooks:</h2>
<button md-raised-button color="primary" (click)="add()" style="margin:20px">Add Spellbook</button>
<div style="width:100%" fxLayout="row" fxLayoutWrap>
  <md-card class="spellbook-card" *ngFor="let sb of spellbooks"  fxFlex.xs="100" fxFlex.sm="55" fxFlex.md="33" fxFlex.lg="30" fxFlex.xl="17">
    <md-card-header>
      <div md-card-avatar [class]="'spellbook-'+sb.class+'-image'"></div>
      <md-card-title>{{sb.name}}</md-card-title>
      <md-card-subtitle style="text-transform:capitalize">{{sb.class}}</md-card-subtitle>
    </md-card-header>
    <!--<img md-card-image width="300" src="assets/icons/barbarian.jpg">-->
    <md-card-content fxFlex>
      <p>
        {{sb.description}}
      </p>
    </md-card-content>
    <md-card-actions style="margin-top:auto">
      <div fxLayout="row" fxLayoutAlign="center stretch">
      <button md-raised-button color="accent" fxFlex (click)="spells(sb)" color="primary">My Spells</button>
      <button md-raised-button color="accent" fxFlex (click)="edit(sb)" color="primary">Edit</button>
      <button md-raised-button color="accent" fxFlex (click)="delete(sb.spellbookId)" color="warn">Delete</button>
      </div>
    </md-card-actions>
  </md-card>
</div>