<md-sidenav-container [class]="theme">
  <md-toolbar color="primary">
    <span routerLink="/">Spellbook</span>
    <span style="flex: 1 1 auto"></span>
    <span>
      <button md-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
    </span>
  </md-toolbar>
  <md-sidenav #sidenav align="end" fxLayout="column" fxLayoutAlign="start stretch">
    <br/>
    <span style="margin: 17px" *ngIf="auth.authenticated()">{{auth?.userProfile?.name}}</span> <br />
    <div *ngIf="sb && sb.name" style="margin: 17px">
      <p>Selected spellbook: </p>
      <p>{{sb?.name}}</p>
    </div>
    <button md-raised-button color="primary" (click)="nav('spells')"> All Spells </button> <br />
    <button md-raised-button color="primary" (click)="nav('login')" *ngIf="!auth.authenticated()">Log In</button>
    <button md-raised-button color="primary" (click)="nav('spellbooks')" *ngIf="auth.authenticated()"> My Spellbooks </button>    <br />
    <button md-raised-button color="primary" (click)="nav('logout')" *ngIf="auth.authenticated()">Log Out</button>
  </md-sidenav>

  <router-outlet></router-outlet>
</md-sidenav-container>