<div style="margin:15px;">


    <h2>Character sheet</h2>

    <div fxLayout="row" style="width:50%; margin-left:25%">
        <div fxFlex="50">
            <md-input-container style="width:100%">
                <input mdInput placeholder="Character Name">
            </md-input-container>
        </div>
        <div fxFlex="50" fxLayout="column">
            <div fxFlex="50" fxLayout="row">
                <div fxFlex="50">
                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Race">
                    </md-input-container>
                </div>
                <div fxFlex="50">
                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Alignment">
                    </md-input-container>
                </div>
            </div>
            <div fxFlex="50" fxLayout="row">
                <div fxFlex="100">
                    <md-input-container style="width:100%">
                        <input mdInput placeholder="Class">
                    </md-input-container>
                </div>
                <div fxFlex="30">
                    <md-input-container style="width:100%">
                        <input mdInput type="number" placeholder="Level">
                    </md-input-container>
                </div>
                <div fxFlex="20">
                    <a md-raised-button routerLink="." color="primary">
                        <md-icon>add</md-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>