/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/dark.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import './assets/scss/spinner.scss';
@import './assets/scss/spellbook-cards.scss';
@import './assets/scss/theme.scss';
// @import '~@angular/material/prebuilt-themes/purple-green.css';


html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;  
  font-size:16px !important;
}

.mat-dialog-title, .mat-dialog-content {
  color: #FFF !important;
}

.edit-dialog {
  width:300px;
}

.mat-select {
  margin-bottom: 15px;
  margin-top: 15px;
}

.data-cell {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
}

.table {
  margin: 0;
  width:100%;
  height:100%;
}

th {
  font-size:2em;
}
th {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    vertical-align: bottom;
}



tr:hover {background-color: #444}